.icon-button {
  font-size: 1.6rem;
  color: #333;
}

div {
  width: 100%;
}

.page-content {
  width: 100%;
}

.task-output {
  border: 2px dashed #9f9f9f;
  color: #9f9f9f;
  border-radius: 100px;
  font-size: 90%;
}
