.icon-button {
  font-size: 1.4rem;
  cursor: pointer;
}

.page-content {
  width: 100%;
}

.page_content_container {
  padding: 1.4rem;
  height: 100%;
  overflow-y: auto;
}

.card-body {
  padding: 0.6rem;
}

.cardlayout {
  display: grid;
  grid-template-columns: 1fr 2rem;
  grid-template-rows: 1fr;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.cardlayout_actions {
  grid-column: 2;
  grid-row: 1;
}

.taskoutput {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.6rem;
  border-radius: 100px;
  font-size: 90%;
  margin-bottom: 0.4rem;
}

.taskoutput_name {
  grid-column: 1;
  padding-left: 1rem;
}

.taskoutput_value {
  grid-column: 2;
  padding-left: 1rem;
}

/* Form */

label {
  margin-top: 0.6em;
}

.formSection {
  margin-top: 1em;
}

.checkbox {
  margin-top: 0.6em;
}

/* Page */

.pageContent {
  padding: 1em;
}

.page_header {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 1em;
}

.pageSeparator {
  margin-top: 1.6em;
  margin-bottom: 0.8em;
}

/* Cards */

.cardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
  gap: 1.6em;
  margin: 5px;
}

.cardLayout {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
}

.cardLayout h2 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cardlayout_content {
  grid-column: 1;
  grid-row: 1;
  overflow: hidden;
}
